<footer class="footer">
  <div class="footer-container">
    <div class="footer-content">
      <p>&copy; 2025 PT PLN (Persero) - UPT Bandung | Pemeliharaan Proteksi, Metering dan Otomasi</p>
      <p>ULTG Bandung Barat</p>
    </div>
  </div>
</footer>
