<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PLN HarPro - Pemeliharaan Proteksi ULTG Bandung Barat</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
  <link rel="icon" type="image/png" href="/Logo_PLN.png">
</head>
<body>
  <%- include('../partials/header') %>
  
  <main>
    <%- body %>
  </main>
  
  <%- include('../partials/footer') %>
  <script src="/js/calendar.js"></script>
</body>
</html>
